.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    border: 1px solid white;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
  }
  
  .modalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    min-width: 45%;
    max-width: 55%;
    min-height: 550px;
    max-height: 750px;
    border-top: 1px solid #262b40;
    border-radius: 0.5rem;
    background-color: rgb(248, 246, 245);
  }

  .iconHide {
    position: absolute;
    top:5px;
    font-size: 2rem;
    right: 5px;
    color: #424949;
    cursor: pointer;
  }