.container{
    width:100%; 
    height:auto; 
    background:#F8F9F9;
    padding:1rem; 
    border-radius:.5rem; 
}
.containerCard{
    padding:.8rem;
    display: flex; 
    flex-direction:column; 
    align-items:left; 
    justify-content:center
}
.details{
    font-size: 1rem; 
    color:#262a2e;
    font-family: 'Roboto Condensed', sans-serif;
}