.home {
  border:solid #00000069 1px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 200px;
   margin-top: 0.5rem;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.containerFlights{
  /* border: solid 1px black; */
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
}
.containerGeneral{
  display: grid;
    justify-items: start;
    grid-template-columns: 1fr 2fr;
    background-color: #9AD0EC;
  }

  .containerSearch{
    
    display: flex;
    flex-direction: column;
  }
.container_departure{
  display: flex;
  flex-direction: column;  
  padding: 10px;
}

.flex{
  display: flex;
}

.price{
  display: flex;
  flex-direction: column;
  border-left: #00000036 solid 1px;
  color: green;
  width: 20%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.padding_left{
  padding-left: 0.4rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.grid{
  display: flex;
  flex-direction: row;
}


