.display{
    width: 315px;
    /* height: 330px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-top:9%;
    padding: 15px;
    /* background-color: #0a66c2; */
    border: #F8F9F9;
    /* background-color: #dbe6e6; */
    background-color: #AAB7B8;
    border-radius: 8px;
}

.flights{
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: #17202A;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    background-color: #FDFEFE;
    padding: 10px;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 1rem;
    width:50%;
    margin-bottom: 1.2rem;
}
.radio{
    display: flex;
    align-items: center;
    height: 40px;
    outline: none;
    border-radius: 6px;
    border: none;
    background-color: #FDFEFE;
    color: #0c0c0c;
    font-weight: 900;
    font-size:1rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1.2rem;
}

.input{
    height: 40px;
    padding: 10px;
    outline: none;
    border-radius: 6px;
    border: none;
    background-color: #FDFEFE;
    color: #0c0c0c;
    font-weight: 900;
    font-size:1rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1.2rem;
}
.input::placeholder{
    font-family: 'Roboto Condensed', sans-serif;
    color: #6e7172;
    font-weight: 900;
    font-size:1rem;
}

.dates{
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content:space-between; 
    margin-bottom: 3rem;
}

.date{
    height: 40px;
    /* padding: 5px;
    margin: 0 2px; */
    outline: none;
    border-radius: 6px;
    border: none;
}
.date::placeholder{
    color: #BDC3C7;
}

.btn{
    height: 40px;
    width: 100px;
    border: none;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    background-color: #5499C7;
    color: #E5E7E9;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    /* position: absolute;
    top:23.7rem; */
}
.btn:hover{
    background-color: #84badf;
    color: #0d3c6b
  }
.btn:active{
    transform: scale(.99);
}
