.elements{
	width: 500px;
}

.grid{
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	width: 90vh;
	margin-left: 20px;
	padding: 20px;
	margin-top: 30px;
}

.title{
	margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -.5px;
    color: #444;
}

.imagen{
	height: 40px;
    width: 65px;
}

.btn{
	margin-left: 20px;
	margin-top: 30px;
}