.containerTitle{
    display:flex;
    justify-content:left;
    align-items:center
}
.containerButton{
    display:flex;
    justify-content:right; 
    align-items:center; 
    background-color:#E5E7E9;
    padding:1rem 3rem 1rem 3rem; 
    border-bottom-left-radius:2rem;
    margin: 0 .2rem .3rem 0;
}

.url{
    font-style: italic;
    color: #1F618D;
    font-weight: 700;
    background-color: #F8F9F9;
    border-bottom-right-radius:2rem;
    padding: 1rem .5rem 1rem .5rem;
    margin: 0 0 .3rem .2rem;
}