.containerTitle{
    display:flex;
    justify-content:left;
    align-items:center
}
.containerButton{
    font-style: italic;
    /* color: #080f13; */
    font-weight: 700;
    /* background-color: #F8F9F9; */
    /* border-bottom-left-radius: 2rem; */
    padding: 0rem 4.5rem 0rem 0.5rem;
    margin: 0px 0px 0.3rem -0.8rem;
    display: flex;
    flex-direction: row;
}
.navbarBrandBox{
    background: rgb(253 254 254 / 0%);
}
.headerBtn{
    font-family: inherit;
    font-size: 20px;
    background: #4169e1e0;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    border: none;
    border-radius: 16px;
    /* overflow: hidden; */
    transition: all 0.2s;
    /* position: absolute; */
    align-items: center;
}

.headerContainer{
    display: flex;
    align-items: baseline;
    background-color: #64a5db80;
    justify-content: space-between;
}
.url{
    font-style: italic;
    color: #1F618D;
    font-weight: 700;
    background-color: #F8F9F9;
    border-bottom-right-radius:2rem;
    padding: 1rem .5rem 1rem .5rem;
    margin: 0 0 .3rem .2rem;
}

.imgLogin{
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
}